%section
  %span
  %h1 Member Login
  %form
    %input{ :type => "text", :placeholder => "User Name" }
    %input{ :type => "password", :placeholder => "Password" }
  %button LOGIN
  %h2 
    %a{ :href => "#"}Forgot Password?
  