@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

body { 
  font: normal .80em arial, sans-serif;
  /*background: #F8F7EE url(../images/pattern.png);*/
  color: #7A7A68;
}

footer, header, nav, section { 
  display:block;
}

p { 
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

#main, #logo, section, footer { 
  margin-left: auto; 
  margin-right: auto;
}

.tarif {
	color:red;
}

/* -----  ----- */
/* -----  Styles de l'en-tête  ----- */ 
header { 
  background: #404040;
  height: 200px;
  border-bottom: 1px solid #FFF;
}

header img {
	float: right; 
	vertical-align: middle; 
	width : 12%;
	height: auto;
	margin: 15px 10px 0 0;
}

#logo { 
  width: 1000px;
  height: 200px;
  background: transparent url(../images/logo.png) no-repeat right;
  color: #888;
  padding: 0;
}

#logo #logo_text { 
  top: 5px;
  left: 0;
}

#logo h1, #logo h2 { 
  font: normal 420% 'Yanone Kaffeesatz', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
  padding: 10px 0 0 0;
  color: #FFF;
  text-decoration: none;
}

#logo_text h1 a .logo_colour { 
  color: #0096D7;
}

#logo_text a:hover .logo_colour { 
  color: #FFF;
}

#logo_text h2 { 
  font-size: 150%;
  padding: 0 0 0 0;
  color: #A8AA94;
}


/* -----  ----- */
/* -----  Styles du menu  ----- */ 
nav { 
  height: 44px;
  width: 100%;
  margin: -44px auto 0 auto;
  background: transparent url(../images/menubar.png) repeat;
} 

#menu_container { 
  width: 1000px;
  margin: 0 auto 0 auto;
}

a, a:hover { 
  outline: none;
  text-decoration: underline;
  color: #0096D7;
}

a:hover { 
  text-decoration: none;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}


/* -----  ----- */
/* -----  Styles de l'en-tête  ----- */ 
section { 
  width: 1000px;
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 15px 0 40px 0;
  min-height: 600px;
} 

.content {
	text-align: justify;
	width: 700px;
	margin: 0 0 15px 0;
	float: left;
	font-size: 120%;
	padding: 14px 0 0 0;
}

section h1 {
	padding: 5px 15px 20px 15px;
	font: 250% 'Yanone Kaffeesatz';
	text-shadow:  #ffffff 1px 1px;	
	margin: 0 1px;
	color: #777;
}

section h2 {
	color : #D93535;
	padding : 10px;
}

section img {	
	display : block;
	margin : auto;
}

.logo {
	max-width : 90%;
	height: auto;
}

table { 
  margin: 10px 0 30px 0;
  width:auto;
}

table tr th, table tr td { 
  background: #3B3B3B;
  color: #FFF;
  padding: 8px 8px;
  text-align: left;
}
  
table tr td { 
  background: #E5E5DB;
  color: #47433F;
  border-top: 1px solid #FFF;
}

table input {
	width : 300px;
}


/* -----  ----- */
/* -----  Styles du pied de page  ----- */ 
footer { 
  width: 100%;
  font-family: 'lucida sans', sans-serif;
  font-size: 90%;
  height: 60px;
  padding: 20px 0 5px 0;
  text-align: center; 
  background: #404040 ;
  color: #A8AA94;
  margin: 0 0 0 0;
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}


/**
Stylesheet for SooperFish by www.SooperThemes.com
Author: Jurriaan Roelofs
**/

/* Configuration of menu width */
html body ul.sf-menu ul,html body ul.sf-menu ul li { 
  width: 200px;
}

html body ul.sf-menu ul ul { 
  margin: 0 0 0 200px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;
}

ul.sf-menu { 
  display: block;
  position: relative;
}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;
}
  
ul.sf-menu li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.sf-menu a { 
  display: block;
  position: relative;
}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
  
ul.sf-menu ul a { 
  zoom: 1; /* IE6/7 fix */ 
}

ul.sf-menu ul li { 
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}
  
ul.sf-menu ul ul { 
  top: 0;
  margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
  left: auto;
}
  
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
  left: -999999px;
}

/* autoArrows CSS */
span.sf-arrow { 
  width: 7px;
  height: 7px;
  position: absolute;
  top: 20px;
  right: 5px;
  display: block;
  background: url(../images/arrows-white.png) no-repeat 0 0;
  overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
  font-size: 1px;
}

ul ul span.sf-arrow { 
  right: 10;
  top: 20px;
  background-position: 0 100%;
}

/* Theming the menu */
ul#nav { 
  float: right;
}

ul#nav ul { 
  background: url(../images/menu_hover.png) repeat;
  margin-top: 5px;
  padding-bottom: 15px;
}

ul#nav li a { 
  padding:7px 20px 6px 20px;
  font: 170% 'Yanone Kaffeesatz',helvetica,arial,verdana,sans;
  text-shadow: 1px 1px #000;
  text-decoration:none;
  color:#FFF;
  margin-right: 2px;
}

ul#nav li a:hover,ul#nav li a:focus { 
  color:#0096D7;
}

/********  - MINE -  ***********/
/*input[type="number"] {
    width:65px;
}*/
